<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <title>Docs</title>
    <meta name="description" content="Documentation served by docsify" />
    <link rel="stylesheet" href="assets/vue.css" />
    <link rel="stylesheet" href="assets/toc.css" />
    <style>
      .app-name { width: 150px; }
      .page_toc { top: 12rem; }
      .app-sub-sidebar li:before { content: "○"; }
      @media screen and (max-width: 1300px) { .nav { display: none; } }
    </style>
  </head>

  <body class="body--ready">
    <div id="app">Loading...</div>
    <script>
      window.$docsify = {
        name: "Docs",
        nameLink: "/index.html#/",
        notFoundPage: "README.md",
        auto2top: true,

        loadNavbar: false,
        mergeNavbar: true,
        topMargin: 40,

        loadSidebar: false,
        maxLevel: 4,
        subMaxLevel: 2,

        search: {
          maxAge: 86400000,
          paths: "auto",
          placeholder: "Search",
          noData: "No results found",
          depth: 2,
          hideOtherSidebarContent: false,
        },

        toc: {
          scope: ".markdown-section",
          headings: "h2, h3, h4, h5, h6",
          title: "",
        },
      };
    </script>

    <script src="assets/docsify.min.js"></script>
    <script src="assets/search.min.js"></script>
    <script src="assets/zoom-image.min.js"></script>
    <script src="assets/toc.js"></script>
    <script src="assets/countable.min.js"></script>
  </body>
</html>
